@import url("https://fonts.googleapis.com/css2?family=Della+Respira&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

//  GLOBAL VARIABLES

$ff-della: "Della Respira", "serif";

$bg-mint: #60c3ae;
$bg-dark: #0b090a;
$bg-grey: #999999;
$bg-scroll: #151f1e;
$bg-light: #fafafa;

// GLOBAL MIXINS

@mixin devices($breakpoint) {
    @if $breakpoint == xl {
        @media only screen and (max-width: 1439.99px) {
            @content;
        }
    }
    @if $breakpoint == lg {
        @media only screen and (max-width: 1199.99px) {
            @content;
        }
    }
    @if $breakpoint == md {
        @media only screen and (max-width: 991.99px) {
            @content;
        }
    }
    @if $breakpoint == sm {
        @media only screen and (max-width: 767.99px) {
            @content;
        }
    }
    @if $breakpoint == mobile {
        @media only screen and (max-width: 464.99px) {
            @content;
        }
    }
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

@mixin animate($animation, $duration, $method, $times) {
    animation: $animation $duration $method $times;
}
